<div class="relative hidden md:flex items-center">
  <form action="/search" method="get">
    <input
      type="search"
      name="name"
      placeholder="Find a card..."
      class="w-[200px] lg:w-[250px] h-9 rounded-md bg-zinc-900 border-zinc-800 focus-visible:ring-zinc-700 focus-visible:ring-offset-zinc-900"
    />

    <button
      class="right-0 h-9 rounded-l-none bg-yellow-500 hover:bg-yellow-600 text-black"
      type="submit"
    >
      <!-- <Search className="h-4 w-4" /> -->
      <span class="sr-only">Search</span>
    </button>
  </form>
</div>
