---
import { PokeCardHandler } from "../../handlers/PokeCardHandler";
import { PokeCardMini } from "../../models/PokeCardMini";
import type { UserListCard } from "../../models/UserListCard";
import ListCardActions from "./ListCardActions.astro";

interface Props {
  listCard: UserListCard | null;
  listType: string;
}

const { listCard, listType } = Astro.props;
---

<div class="card cardEffect">
  {
    listCard?.cardName != "" && (
      <a class="absolute inset-0" href={`/card/${listCard?.cardId}`} />
    )
  }
  <div>
    <img
      src={listCard?.image || "/img/card-not-found.jpg"}
      alt={listCard?.cardName || "Card not found"}
      title={listCard?.cardName || "Card not found"}
      loading="lazy"
      transition:name={`${listCard?.cardId}-image`}
    />

    <span class="capitalize">
      {listType == "pokedex" ? listCard?.dexId : listCard?.cardId} -
      {listCard?.pokemonName}
    </span>
  </div>
</div>
