---
import type { UserListCard } from "@/models/UserListCard";
import ModIcon from "@/assets/mod.svg";
import DelIcon from "@/assets/del.svg";

interface Props {
  listCard: UserListCard | null;
}

const { listCard } = Astro.props;
---

<div class="card_actions">
  <button
    class="bg-blue-500 text-white p-2 rounded-md"
    onclick={`modListCardDialog("${listCard?.id}")`}
  >
    <ModIcon />
  </button>
  <button
    class="bg-red-500 text-white p-2 rounded-md"
    onclick={`removeListCardDialog("${listCard?.id}")`}
  >
    <DelIcon />
  </button>
</div>

<script is:inline>
  function removeListCardDialog(listCardId) {
    if (confirm("Are you sure you want to remove this card from the list?")) {
      fetch(`/api/list/remove-card`, {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams({ listCardId: listCardId }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Data", data);
          if (data.success) {
            // alert("Card added successfully");
            // closeListCardDialog();
            // loadCards(listId);
            document.location.reload();
          } else {
            alert("Error removing card: " + data.error);
          }
        })
        .catch((error) => {
          console.error("Error removing card:", error);
        });
    }
    console.log("REMOVE LIST CARD DIALOG", id);
  }
</script>
