---
import type { PokeCardMini } from "../../models/PokeCardMini";
import AddIcon from "@/assets/add.svg";

interface Props {
  card: PokeCardMini | null;
  lang: string;
}

const { card, lang } = Astro.props;
---

<div class="card_actions">
  <button
    class="bg-blue-500 text-white p-2 rounded-md"
    onclick={`openListCardDialog("0", "1", "${card?.id}", "${card?.name}", "${lang}")`}
  >
    <AddIcon />
  </button>
</div>
