---
import type { PokeCardMini } from "../../models/PokeCardMini";

interface Props {
  setId: string | null;
  card: PokeCardMini | null;
}

const { setId, card } = Astro.props;
---

<div class="card cardEffect">
  <a href={`/${setId}/${card?.id}`}>
    <img
      src={card && card.image.low != null
        ? card.image.low
        : "/img/card-not-found.jpg"}
      alt={card ? card?.name : "Card not found"}
      title={card ? card?.name : "Card not found"}
      loading="lazy"
      transition:name={`${card?.id}-image`}
    />
  </a>
</div>
