---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Your Cards" description="Your Cards">
  <main class="text-center">
    <h2>Your Cards</h2>
    <h3>In construction</h3>
  </main>
</Layout>
