---
import CardGridItem from '../../components/CardGridItem.astro';
import { PokeCardMiniHandler } from '../../handlers/PokeCardMiniHandler';

const language = Astro.url.searchParams.get('language') || 'en';
const setId = Astro.url.searchParams.get('set') || 'base1';

const cards = await PokeCardMiniHandler.getAll(language, setId);

---


{ (cards && cards?.length > 0) ?
  cards.map((item) => ( 
    <CardGridItem card={item} /> 
  ))
: (
  <div class="no-cards" style="grid-column: 1 / -1; text-align: center;">
    <h2>No cards found</h2>
    <p>Please select a different set.</p>
  </div>
)}
