---
import type { PokeCardMini } from '../models/PokeCardMini';

interface Props {
  card: PokeCardMini | null;
}

const { card } = Astro.props;

---

  <div class="card">
    <img 
      src={( card ? card?.image + '/low.webp' : "/img/card-not-found.png")}
      alt={( card ? card?.name : "Card not found")}
      title={( card ? card?.name : "Card not found")}
      loading="lazy"
    />
  </div>
