---
import CardGridItem from './CardGridItem.astro';
import { PokeCardMiniHandler } from '../handlers/PokeCardMiniHandler';

interface Props {
  language: string ,
  setId: string,
}

const { language, setId } = Astro.props;

const cards = await PokeCardMiniHandler.getAll(language, setId);

---

<div class="cards-grid">
  { (cards && cards?.length > 0) ?
        cards.map((item) => ( 
          <CardGridItem card={item} /> 
        ))
  : (
    <div class="no-cards" style="grid-column: 1 / -1; text-align: center;">
      <h2>No cards found</h2>
      <p>Please select a different set.</p>
    </div>
  )}
</div>
  


  
<style is:inline>
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
</style>