---
import Login from "./login/login.astro";
// import Nav from './Nav.astro';
---

<header class="w-full bg-white border-gray-200 dark:bg-gray-900">
  <a href="/">
    <h1 id="inicio">Pokémon TFG Card Browser</h1>
  </a>

  <!-- <Nav /> -->

  <Login />
</header>

<style>
  header {
    color: white;
    max-width: 1355px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  header h1 {
    display: inline-block;
    position: relative;
    z-index: 20;
    margin: 0;
  }
</style>
