---
interface Props {
  // sets: Array<{id: string, name: string, releaseDate: string}>;
  selectedLanguage: string;
}

const { selectedLanguage } = Astro.props;

const languages = [
  { id: "en", name: "English" },
  { id: "es", name: "Español" },
  { id: "ja", name: "日本語" },
];
---

<div class="set-selector">
  <label for="set">Select a Language:</label>
  <select id="language" name="language">
    {
      languages.map((language) => (
        <option value={language.id} selected={language.id === selectedLanguage}>
          {language.name}
        </option>
      ))
    }
  </select>
</div>

<style>
  .set-selector {
    margin-bottom: 2rem;
    text-align: center;
  }

  select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #2a2a2a;
    color: white;
    border: 1px solid #444;
    margin-left: 1rem;
  }
</style>
